body {
  margin: 0;
  padding: 13px 0;
  font-family: arial, helvetica, sans-serif;
  font-size: 62.5%; /* 10px */
  line-height: 1.5em; /* 15px */
  color: #333;
  background-color: #a2a392;  
}

h1,h2,h3 {
  margin: 0;
  font-weight: normal;
}

h1 {
  font-size: 2.6em; /* 26px */
  line-height: 26px;
}

h2 {
  font-size: 1.8em /* 18px */;
  line-height: 18px;
}

h3 {
  font-size: 1.5em; /* 15px */
  line-height: 15px;
  margin: 2px 0 15px;
}

.abColumn .columnGroup {
  margin: 0 24px 15px 24px;
}

.subColumn-2 .insetTop {
  margin-top: 27px;
}

.warp {
  display: block;
}

.sectionHeader {
  margin: 5px 0 4px;
}

.dottedContainer {
  border-top: 1px dashed #b5b5b5;
  border-bottom: 1px dashed #b5b5b5;
}

.opposingFloatControl .element1 {
  float: left;
}

.opposingFloatControl .element2 {
  float: right;
}